* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

form {
    display: flex;
    /* background-color: bisque; */
    /* width: 100%; */
}

div.flex-center {
    display: flex;
    align-items: center;
    margin: 20px;
    width: 100%;
    
}

form {
    display: flex;
    justify-content: stretch;
}

div[class^=registration] {
    margin: 20px;
    padding: 10px;
    background-color: rgb(209, 166, 166);
    width: 50%;
    border-radius: 10px;
    border-color: blue;
}

div[class^=registration] div {
    width: 100%;
}

h4 {
    margin: 20px;
}
img.icons {
    width: 32px;
    height: 32px;
}

#sex {
    background-image: url("icons/caret-down-svgrepo-com.svg");
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-size: 8px;
}

input {
    /* align-items: stretch; */
    width: 100%;
    background-color: transparent;
    height: 32px;
}

