* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

div.flex-center {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    
}

.registration, .checkbox {
    margin: 20px;
    padding: 20px;
    background-color: lightgray;
    border-radius: 5px;
}

h4 {
    margin: 0;
}

img.icons {
    width: 32px;
    height: 32px;
}

#gender {
    background-image: url("icons/caret-down-svgrepo-com.svg");
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-size: 8px;
}

div.registration input {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    background-color: transparent;
    height: 32px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

input[type=checkbox] {
    margin: 10px;
}

.form {
    display: ;
    width: 50%;
    float: left;
}

form::after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .form {
        width: 100%;
    }
}
